name: Java CI

on:
  push:
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [21]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 #v5.2.0
      with:
        java-version: ${{ matrix.java }}
        distribution: 'adopt'

    - name: Cache local Maven repository
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 #v5.0.2
      with:
        path: ~/.m2/repository/
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Upload artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
      with:
        # Artifact name
        name: JoinMusic-Java${{ matrix.java }}
        # Directory containing files to upload
        path: Master/target/JoinMusic.jar
